<!DOCTYPE html>
<html>
<head>
    <title>login</title>
</head>
<body>
<h1>  <%= title%>> </h1>
<p>
    <form method="post" action="">
    username:<input type="text" value="ok" name="uname"/><br/>
    password:<input type="password" value="ok" name="password"/>
    <br/>
    <input type="submit" value="提交"/>
</form>
</p>
</body>
</html>
